@import '../../var';

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 10px;

  h1 {
    color: $primary-color;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 16px;
    font-weight: 700;
    opacity: 0.5;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    img {
      object-fit: cover;
    }
  }

  h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 50px;

    span {
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      color: black;
    }
  }

  p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.1px;
    line-height: 1.5;
  }

  .divider {
    margin-bottom: 100px;
  }
}

.wys-content {
  font-weight: 300;

  b {
    font-weight: 700;
  }

  strong {
    font-weight: 700;
  }

  p {
    span {
      font-weight: 300;
      letter-spacing: 1.3px;
      line-height: 1.5;
    }
    margin: 0 auto;
    color: black;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1.3px;
    line-height: 1.5;
    max-width: 1080px;
    color: rgb(51, 51, 51);
    margin-bottom: 10px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  li {
    margin-bottom: 10px;
    span {
      font-weight: 300;
      letter-spacing: 1.3px;
      line-height: 1.5;
    }
  }

  li::marker {
    color: $primary-color;
  }

  ol {
    list-style: decimal;

    span {
      font-weight: 300;
      letter-spacing: 1.3px;
      line-height: 1.5;
    }
  }

  a {
    color: blue;
  }

  em {
    font-style: italic;
    color: inherit;
  }
}
