@import '../../app/var';

.full {
  width: 100%;
  background-color: white;
  .container {
    max-width: $max-width;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: -10px;
    padding: 30px;
    padding-bottom: 80px;
    position: relative;
    z-index: 2;

    h1 {
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 80px;
    }

    .image-container {
      position: relative;
      height: 60px;

      img {
        object-fit: contain;
        filter: grayscale(1);
        transition: filter 0.2s ease-in-out;

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}
