@import '../../var';

.container {
  width: 100%;

  .content-container {
    padding: 50px 30px;
    border-radius: 10px;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #f0f0f0;

    p {
      margin: 0 auto;
      margin-bottom: 50px;
      color: black;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 1.3px;
      line-height: 1.5;
      max-width: 1080px;
    }

    .image-wrapper {
      position: relative;
      max-width: 1080px;
      height: 400px;
      margin: 0 auto;
      margin-bottom: 50px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);

      img {
        object-fit: cover;
      }
    }
  }

  .full-child {
    width: 100%;
    background-color: #e0e0e0;
  }
  .child-container {
    display: flex;
    padding: 30px;
    max-width: $max-width;
    margin: 0 auto;
    .left {
      max-width: 1080px;
      margin: 0 auto;
      flex: 0.6;
      h1 {
        color: $primary-color;
      }
    }

    .right {
      max-width: 1080px;
      margin: 0 auto;
      flex: 1;

      p {
        font-size: 14px;
        letter-spacing: 1.3px;
        line-height: 1.5;
        font-weight: 300;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;

      h1 {
        text-align: end;
      }
    }
  }
}
