@import '../../var';

.container {
  width: 100%;

  .content-container {
    padding: 50px 30px;
    border-radius: 10px;
    margin-top: -10px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #f0f0f0;

    .wrapper {
      max-width: 1080px;
      margin: 0 auto;

      .caption {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 30px;
        line-height: 1.3;

        @media only screen and (max-width: 800px) {
          font-size: 20px;
        }
      }
    }

    .wys-content {
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 1.3px;
      line-height: 1.5;

      .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      b {
        font-weight: 700;
      }

      strong {
        font-weight: 700;
      }

      p {
        span {
          font-weight: 300;
          letter-spacing: 1.3px;
          line-height: 1.5;
        }
        margin: 0 auto;
        color: black;
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 1.3px;
        line-height: 1.5;
        max-width: 1080px;
        color: rgb(51, 51, 51);
        text-align: justify;
        text-justify: inter-word;
      }

      ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
      }

      li {
        margin-bottom: 10px;
        span {
          font-weight: 300;
          letter-spacing: 1.3px;
          line-height: 1.5;
        }
      }

      li::marker {
        color: $primary-color;
      }

      ol {
        list-style: decimal;

        span {
          font-weight: 300;
          letter-spacing: 1.3px;
          line-height: 1.5;
        }
      }
    }

    p {
      margin: 0 auto;
      color: black;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 1.3px;
      line-height: 1.5;
      max-width: 1080px;
    }

    .image-wrapper {
      position: relative;
      max-width: 1080px;
      height: 400px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);

      img {
        object-fit: cover;
      }
    }
  }

  // .full-child {
  //   width: 100%;
  //   background-color: #e0e0e0;
  // }
  // .child-container {
  //   display: flex;
  //   padding: 30px;
  //   max-width: $max-width;
  //   margin: 0 auto;
  //   .left {
  //     max-width: 1080px;
  //     margin: 0 auto;
  //     flex: 0.6;
  //     h1 {
  //       color: $primary-color;
  //     }
  //   }

  //   .right {
  //     max-width: 1080px;
  //     margin: 0 auto;
  //     flex: 1;

  //     p {
  //       font-size: 14px;
  //       letter-spacing: 1.3px;
  //       line-height: 1.5;
  //       font-weight: 300;
  //     }
  //   }

  //   &:nth-child(even) {
  //     flex-direction: row-reverse;

  //     h1 {
  //       text-align: end;
  //     }
  //   }
  // }
}
